.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 40px;

    background-color: #007bff;

    color: white;
}

.navbar h2 {

    margin: 0;
}

.nav-links {

    display: flex;

    gap: 20px;
}

.nav-links a {

    color: white;

    text-decoration: none;

    font-size: 18px;
}

.nav-links a:hover {

    text-decoration: underline;
}

.logout-btn {

    padding: 8px 15px;

    border: none;

    background-color: red;

    color: white;

    border-radius: 5px;

    cursor: pointer;
}

.logout-btn:hover {

    background-color: darkred;
}